<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="product-container text-center mt-2">
        <h1 class="ml-5 pl-5"><%= title %> Product</h1>
        <% if(product) { %>
          <form class="mt-4" action="/products/edit/update" method="POST" data-parsley-validate>
            <input type="hidden" value="<%= id %>" name="id">
            <div class="input-group mb-3">
              <label class="edit-product" for="name">Name:</label>
              <input type="text" class="text-input" name="name" value="<%= product.name %>" required>
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="productid">Shopify Product Variant ID:<br>(ask Kevin where to find this)</label>
              <input type="text" class="text-input" name="productid" value="<%= product.product_shopify_id %>" required data-parsley-type="alphanum">
            </div>

            <div class="input-group mb-3">
              <label class="edit-product" for="producturl">Shopify Product URL:</label>
              <input type="text" class="text-input" name="producturl" value="<%= product.product_url %>" required data-parsley-type="url">
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="discountruleid">Shopify Discount Rule ID:</label>
              <input type="text" class="text-input" name="discountruleid" value="<%= product.discount_rule_id %>" required data-parsley-type="alphanum">
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="discountrule">Shopify Discount Rule Description:</label>
              <input type="text" class="text-input" name="discountrule" value="<%= product.discount_rule %>" required>
            </div>

            <div class="input-group mb-3">
              <label class="edit-product" for="discount-code">Discount Code:</label>
              <input type="text" class="text-input" name="discountcode" value="<%= product.discount_code %>" required data-parsley-type="alphanum">
            </div>

            <h6 class="text-left">Discount Rule Code Usage</h6>
            <div class="input-group mb-3">
              <% if(product.discount_code_usage === 'shared') { %>
                <input class="ml-3" type="radio" id="single" name="usage" value="shared" required checked>
                <label class="ml-2" for="single">Single Code for Entire Group</label>
                <input class="ml-3" type="radio" id="unique" name="usage" value="unique" required>
                <label class="ml-2" for="unique">Unique Code for Each Customer</label>
              <% } else { %>
                <input class="ml-3" type="radio" id="single" name="usage" value="shared" required>
                <label class="ml-2" for="single">Single Code for Entire Group</label>
                <input class="ml-3" type="radio" id="unique" name="usage" value="unique" required checked>
                <label class="ml-2" for="unique">Unique Code for Each Customer(one time use)</label>
              <% } %>
            </div>

            <button type="submit" class="submit-prod mt-4 btn btn-primary">Update</button>
          </form>
        <% } else { %>
          <form class="mt-4" action="/products/edit/upload" method="POST" data-parsley-validate>
            <div class="input-group mb-3">
              <label class="edit-product" for="name">Name:</label>
              <input type="text" class="text-input" name="name" required>
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="product-id">Shopify Product Variant ID:<br>(ask Kevin where to find this)</label>
              <input type="text" class="text-input" name="productid" required data-parsley-type="alphanum">
            </div>

            <div class="input-group mb-3">
              <label class="edit-product" for="producturl">Shopify Product URL:</label>
              <input type="text" class="text-input" name="producturl" required data-parsley-type="url">
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="discountruleid">Shopify Discount Rule ID:</label>
              <input type="text" class="text-input" name="discountruleid" required data-parsley-type="alphanum">
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="discountrule">Shopify Discount Rule Description:</label>
              <input type="text" class="text-input" name="discountrule" required>
            </div>
            <div class="input-group mb-3">
              <label class="edit-product" for="discount-code">Discount Code:</label>
              <input type="text" class="text-input" name="discountcode" required data-parsley-type="alphanum">
            </div>

            <h6 class="text-left">Discount Rule Code Usage</h6>
            <div class="input-group mb-3">
              <input class="ml-3" type="radio" id="single" name="usage" value="shared" required>
              <label class="ml-2" for="single">Single Code for Entire Group</label>
              <input class="ml-3" type="radio" id="unique" name="usage" value="unique" required>
              <label class="ml-2" for="unique">Unique Code for Each Customer</label>
            </div>

            <button type="submit" class="submit-prod mt-4 btn btn-primary">Upload</button>
          </form>
        <% } %>
      </div>
    </section>
  </body>
</html>
