<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product-table mt-5 pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 mt-2">
            <h1 class="text-center md-2"><i class="fas fa-trophy"></i> Winners</h1>
            <table id="products" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th># of Referrals</th>
                  <th>Product Name</th>
                  <th>Discount Code</th>
                  <th>Last Sent Time</th>
                </tr>
              </thead>
              <tbody>
                <% winners.forEach((winner) => { %>
                  <tr>
                    <th><%= winner.id %></th>
                    <td><%= winner.email %></td>
                    <td><%= winner.num_referrals %></td>
                    <td><%= winner.name %></td>
                    <td><%= winner.discount_code %></td>
                    <% if(winner.email_sent_date === null) { %>
                      <td>Not Sent Yet</td>
                    <% } else { %>
                      <td><%= winner.email_sent_date.toString().substring(0,15) %></td>
                    <% } %>
                  </tr>
                <% }) %>
              </tbody>
            </table>
            <div class="text-center mt-3">
              <% if (page > 0) { %>
                <a href="/winners?page=<%= page - 1 %>" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
              <% } %>
              <h6 class="m-3 d-inline">Page <%= page + 1 %></h6>
              <% if (winnerCount === 10) { %>
                <a href="/winners?page=<%= page + 1 %>" class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      $(document).ready(() => {
        $('#products').DataTable({
          paging: false,
          info: false
        });
      });
    </script>
  </body>
</html>